body
{
	width: 100%;
	overflow-x:hidden;
}
div
{
	border-radius: 3px;
}
.test
{
	color: green;
}
.adform
{
	font-size: 40px;
}
#dis
{
	cursor: no-drop;
}

/*guardian selection starts*/
.radio
{
	color:  gray;
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.radio + .radio
{
	margin-left: 20px;  
}
.radio input[type="radio"]
{
	display: none;
}
.radio span
{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border : 3px solid #323E6F;
	display: block;
	position: absolute;
	left: 0;
	top: 7px;
}
.radio span:after
{
	content: "";
	height: 12px;
	width: 12px;
	background: #323E6F;
	display: block;
	position: absolute;
	left: 50%
	top: 50%;
	transform: translate(-50%,-50%) scale(0);
	border-radius: 50%;
	transition :300ms ease-in-out 0s;
}
.radio input[type="radio"]:checked ~ span:after
{
	transform: translate(10%, 10%) scale(1);
}
/*guardian selection starts*/



/*for Subject Checkbox starts*/

#subj input[type=checkbox] + label
{
	color: #323E6F;
	font-weight: 500;
	margin: 0.2em;
	cursor: pointer;
}

#subj input[type=checkbox]
{
	display: none;
}
#subj input[type=checkbox] + label:before
{
	content: "\2714";	
	border:0.1em solid #323E6F;
	border-radius: 0.5em;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.3em;
	padding-top: 0.2em;
	margin-right: 0.2em;
	vertical-align: center;
	color: transparent;
	transition: .3s;

}
#subj input[type=checkbox] + label:active:before
{
	transform: scale(0);
}
#subj input[type=checkbox]:checked +label:before
{
	background-color: #323E6F;
	color: #323E6F;
}


/*for subject checkbox ends*/